@font-face {
  font-family: 'Greenwall';
  src: url('../fonts/Greenwall.otf')
}

@font-face {
  font-family: 'Kobajeon';
  src: local('Kobajeon'), url('../fonts/Kobajeon.otf') format('opentype');
}

/* ---   VARIABLES  ---  */

$main-font: 'Manrope', sans-serif;

$button-color: rgb(153, 199, 152);
$button-hover-bg: rgba(157, 215, 129, 0.147);
$btn-hover-text: rgb(139, 183, 138);
$form-bgcolor: rgb(147, 180, 116, 0.4);


/* ---   HEADINGS  ---  */
h1 {
  padding: 25px;
}

h2 {
  padding: 20px;
}

h3 {
  padding: 15px;
}


/* ---   please comment what the css is about  ---  */


#navbar-container {
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

a {
  text-decoration: none;
}

.form {
  h3 {
    padding-bottom: 10px;
  }

  width: 60%;
  margin: 20px auto;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 20%);
  border-radius: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .form-input {
    margin-bottom: 15px;
  }
}

.dropdown-toggle::after {
  display: none !important;
}

.property-card {
  height: 45vh;
  margin-bottom: 20px;
  border: none;
  .prop-car-img{
    width: 90%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
  }
  // border: none;
  .card-title {
    width: 90%;
    margin-top: 10px;
    color: black;
    font-family: $main-font;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 0;
    padding-left: 4%;
  }
  .card-text {
    color: rgb(42, 41, 41);
    padding-left: 4%;
    font-family: $main-font;
    font-weight: 300;
    text-align: left;
    font-size: 1rem;
    margin: 0;
  }
  .card-body{
    padding: 0;
  }
}

.column-allProp{
  padding: 0;
}
.me-auto {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 !important;
}

// .carousel-all{
// }

/* ---  buttons ---  */

.user-page-btn {
  text-decoration: none;
  color: black;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 30%);
  padding: 5px;
  border: 1px solid #9e9b9b;
  border-radius: 5px;
  padding: 10px;
  margin: 15px auto;
}

.btn-container {
  position: relative;
  width: 100%;
}

.btn-container img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.btn-homepage {
  color: white;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
  position: relative;
  background: transparent;
  z-index: 1;
  width: 250px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid white;
  height: 45px;
  transition: all 0.6s;
  letter-spacing: 0;

  a {
    color: #fff;
  }
}

.btn-homepage:hover {
  letter-spacing: 3px;
  backface-visibility: hidden;
  background-color: rgba(255, 255, 255, 0.652);

  a {
    color: rgb(0, 0, 0);
  }
}

.btn-all-prop {
  border-radius: 5px;
  border: 2px solid #c2c6cc;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;

}

.btn-section {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.carousel-image {
  max-height: 60vh;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sing-img {
  padding: 10px;
  object-fit: cover;
}

.indiv-img {
  height: fit-content;
  margin: 5px;
  width: 45%;
  max-height: 45%;

}

.property-heading {
  padding: 30px;
  font-family: $main-font;
  font-weight: 500;
}

.large-img {
  width: 100%;
}

.filter-div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 15px;
  margin-left: 1%;
  .type-select {
    width: 120px;
    height: 30px;
    border-radius: 10px;
  }
}

.description-container {
  margin-top: 20px;
  padding: 40px;
  border-top: 2px solid #b2c2b0;
  border-bottom: 2px solid #b2c2b0;

  .descript-heading {
    padding: 10px;
    text-align: left;
    font-family: $main-font;
    font-weight: 400;
    margin-bottom: 0;
  }

  .description-para {
    padding: 10px;
    width: 70vw;
    text-align: left;
    font-family: $main-font;
    font-weight: 300;
    margin-bottom: 0;
  }
}

.amenities-container {
  margin-top: 0;
  padding: 40px;
  border-bottom: 2px solid #b2c2b0;

  .amenities-heading {
    padding: 10px;
    text-align: left;
    font-weight: 400;
    font-family: $main-font;
    margin-bottom: 0;
  }

  .amenities-para {
    padding: 10px;
    width: 70vw;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    font-weight: 300;
    font-family: $main-font;
    margin-bottom: 0;
  }
}

.review-container {
  margin-top: 0;
  padding: 40px;
  border-bottom: 2px solid #b2c2b0;

  .review-heading {
    padding: 10px;
    text-align: left;
    font-weight: 400;
    font-family: $main-font;
    margin-bottom: 0;
  }

  .review-para {
    padding: 10px;
    width: 70vw;
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    font-family: $main-font;
    margin-bottom: 0;
    font-weight: 300;

    .review-title {
      font-weight: 500;
      padding-top: 5px;
      font-size: 18px;
    }

    .review-rating {
      font-weight: 300;
      font-size: 16px;
    }

    .review-text {
      font-weight: 300;
      padding-top: 5px;
    }
  }
}

/* ---   LOADING  ---  */

.loading-bar {
  margin: 50px;
}

/* ---   LANDING ---  */

.landing-title {
  font-family:Kobajeon;
  color: $btn-hover-text;
  text-shadow: 2px 2px 4px rgb(49, 59, 53);
  font-size: 17vh;
  padding: 0;
  margin: 0 auto;
}
.landing-title-sm{
  font-family:Kobajeon;
  color: $btn-hover-text;
  text-shadow: 1px 1px 0px rgb(49, 59, 53);
  font-size: 1.9rem;
  padding: 0;
  margin:0;
  
}
.landing-title-sm:hover{
  color: $form-bgcolor;
  text-shadow: none;
}

/* ---   USERPROFILE ---  */

.spaced{
  margin: 20px;
}

span {
  color: $btn-hover-text;
}

.review-card {
  margin-bottom: 20px;
  .card-body{
  height: max-content;
  }
  p {
    margin-top: 10px;
  }
}

.loading-bar {
  margin: 50px;
}

/* ---   FORMS  ---  */
.form {
  margin: 50px auto;
  background-color: white;
}
.submitbox {
  min-width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 40vh;
  margin-top: 15px;
  
  div{
    max-width: 194px;
  }
}


/* -  background -  */

.form-page {
  background-color: $form-bgcolor;
  min-height: 90vh;
}

/* error / ok message */

.error-mex {
  color: rgb(218, 5, 5);
  background-color: rgba(218, 5, 5, 0.172);
  border-radius: 5px;
  padding: 17px;
  margin: 9px;
}

.oksubmit{
  color: rgb(0, 132, 0);
  background-color: rgba(0, 132, 0, 0.2);
  border-radius: 5px;
  padding: 17px;
  margin: 9px;
}

/* -- select input -- */

.type-select{
  width: 194px;
  margin-bottom: 15px;
  padding: 17px 9px;
  border: 1px solid #b6b6b6;
  border-radius: 4px;
  color: #626262;
}

/* --  BUTTONS --  */

.submitbtn {
  margin: 3px auto;
  width: 50%;
  background-color: $button-color;
  align-self: center;
  border: 1px solid #b6b6b6;
  border-radius: 4px;
}

// #file-upload-button{
//   margin: 3px auto;
//   background-color: $button-color !important;
//   align-self: center;
//   border: 1px solid #b6b6b6;
//   border-radius: 4px;
// }

.submitbtn:hover {
  color: $btn-hover-text;
  background-color: $button-hover-bg;
}

.navigatebtn {
  background-color: $button-color;
  max-width: 200px;
  align-self: center;
  margin-top: 5px;
  }

.navigatebtn:hover {
  color: $btn-hover-text;
  background-color: $button-hover-bg;
}
.navigatebtn-spaced{
  background-color: $button-color;
  max-width: 200px;
  align-self: center;
  margin:8px;
}

.delete-review{
  color: rgb(218, 5, 5);
  background-color: rgba(218, 5, 5, 0.172);
  padding: 9px;
}

/* -  add review -  */

.autosize {
  padding: 14px 0px 14px 10px;
  border-radius: 4px;
  border-color: #b6b6b6;
}

slider {
  margin: 5px;
}

/* -  login/register -  */

.submitbtn-fixed {
  margin-top: 10px;
  margin-bottom: 13px;
  width: 194px;
  background-color: $button-color;
  align-self: center;
  border: 1px solid #b6b6b6;
  border-radius: 4px;
}

.submitbtn-fixed:hover {
  color: $btn-hover-text;
  background-color: $button-hover-bg;
}

/* ---  ERRORS ---  */

.errorbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 35vh;
  margin-top: 15px;

  a {
    max-width: 30%;
  }
}

/* ---  FOOTER ---  */

footer{
  position:fixed;
  max-height: 100px;
  bottom: 0;
  width: 100vw;
  background-color:$button-color;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.6);
  p{
    align-self: center;
    margin: 10px;
    color: #626262;
    a {
      color: rgb(2, 101, 17);
    }
  }
}

